{% extends "layout.html" %}
{% block content %}

	<div class="content-wrapper" style="min-height: 855px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Quick Access</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="./home.html">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
	
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>ICN Documents</h3>
                <p>Tecnical Documentation</p>
              </div>
              <div class="icon">
                <i class="fas fa-archive"></i>
              </div>
              <a href="http://documentacao.icnavais.net/#/home" class="small-box-footer" target="blink"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>NCR</sup></h3>
                <p>Project Modification</p>
              </div>
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
              <a href="http://sso.icnavais.net/?do=http://ncrmat.icnavais.net:80" class="small-box-footer" target="blink"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>NCR-CONFIG</h3>
                <p>Modification Control</p>
              </div>
              <div class="icon">
                <i class="fas fa-file-alt"></i>
              </div>
              <a href="http://ncrconfig.icnavais.net/#/53A/dashboard" class="small-box-footer" target="blink"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
		  
		  <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-secondary">
              <div class="inner">
                <h3>RIDA<sup style="font-size: 20px"></sup></h3>
                <p>Project Questions</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="http://rida.icnavais.net/login.html" class="small-box-footer" target="blink"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
		  
		            <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>SIECC<sup style="font-size: 20px"></sup></h3>
                <p>Notebook Management</p>
              </div>
              <div class="icon">
                <i class="fas fa-book"></i>
              </div>
              <a href="http://udc0-sis04/CadernoDeConstrucao/jsf/operacional/caderno/configurarCadernos.xhtml" class="small-box-footer" target="blink"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
		  
		  		            <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>EPM<sup style="font-size: 20px"></sup></h3>
                <p>Process Management</p>
              </div>
              <div class="icon">
                <i class="far fa-keyboard"></i>
              </div>
              <a href="http://epm.icnavais.net/" class="small-box-footer" target="blink"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
		  
		  		  <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-light">
              <div class="inner">
                <h3>ICN Intranet<sup style="font-size: 20px"></sup></h3>
                <p>Portal</p>
              </div>
              <div class="icon">
                <i class="fas fa-desktop"></i>
              </div>
              <a href="http://intranet.icnavais.net/SitePages/P%C3%A1gina%20Inicial.aspx" class="small-box-footer" target="blink"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
		  

          <!-- ./col -->
        </div>
        <!-- /.row -->
	</div>
  </div>

{% endblock content %}